@include mediaXL {
}
//desktops & laptops
@include mediaLg {
  // .about-info {
  //   grid-template-areas:
  //     "bioimage"
  //     "bio"
  //     "title"
  //     "job1"
  //     "job2"
  //     "job3"
  //     "me1"
  //     "me2"
  //     "me3";

  //   grid-template-columns: 1fr;
  // }
}

//tablets & small laptop
@include mediaMd {
  main {
    align-items: center;
    // text-align: center;
    padding: 4rem;
  }

  #logo {
    margin: 0;
    width: 100%;
    padding: 0, 4rem;
  }
  h1 {
    &.lg-heading {
      padding-left: 0;
    }
  }
  .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    // &.show {
    //   transform: translate3d(0, 0, 0);
    // }
  }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait.jpg");
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: solid 3px $primary-text-color;
      background-size: cover;
      background-position: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
  }

  .social-bar {
    display: none;
  }

  section {
    padding-left: 0;
    padding-right: 0;
  }
  .about-info,
  .skills {
    padding: 5%;
  }
  .project__contents {
    width: 100%;
  }
  .header1 {
    margin: 0;
  }

  .container__about__grid {
    grid-template-areas:
      "bioimage"
      "bio"
      "title"
      "job1"
      "job2"
      "job3"
      "me1"
      "me2"
      "me3";

    grid-template-columns: 1fr;
  }
  .bio {
    width: 100%;
  }
  .bio-image {
    width: 100%;
    padding-bottom: 10%;
  }

  object {
    width: 400px;
    height: 512px;
    margin-left: 0;
  }
}
@include mediaSm {
  body {
    margin: 0;
    width: 100%;
  }

  main {
    margin: 0;

    &#about,
    &#projects,
    &#contact {
      padding: 15% 0 0 0;
    }
    h1 {
      &.lg-heading {
        font-size: 4.5rem !important;

        padding: 0;
        text-align: center;
        margin-bottom: 2rem;
        &::after {
          display: none;
        }
      }
    }
    h2 {
      &.sm-heading {
        padding: 0;
      }
    }
  }

  .box {
    position: relative;
    overflow: hidden;
    // box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border: 0px solid rgba(0, 0, 0, 0.5);

    &::before {
      left: -50%;
      transform: skewX(-5deg);
    }
  }
  .box span::before {
    background: none;
  }

  .contact-info,
  .project {
    text-align: center;
  }
  .bio-image {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  .bio {
    width: 100%;
  }
  object {
    width: 300px;
    height: 384px;
    // width: 100%;
    // height: 100%;
  }
}
