/*==========================
ABOUT ME GRID
============================*/

.container__about__grid {
  display: grid;
  color: set-text-color($primary-color);
  grid-gap: 50px;
  grid-template-areas:
    'bio cubeimage '
    'title title'
    'job1 job2'
    'me1 me3';
  grid-template-columns: repeat(2, 1fr);
 
}
.bio-image {
  grid-area: cubeimage;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  width: 100%;
  .cube {
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    animation: loop 10s linear infinite;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.9;

      &:nth-child(1) {
        transform: rotateY(0deg) translateZ(100px);
        -webkit-transform: rotateY(0deg) translateZ(100px);
        -moz-transform: rotateY(0deg) translateZ(100px);
        -ms-transform: rotateY(0deg) translateZ(100px);
        -o-transform: rotateY(0deg) translateZ(100px);
      }
      &:nth-child(2) {
        transform: rotateY(90deg) translateZ(100px);
        -webkit-transform: rotateY(90deg) translateZ(100px);
        -moz-transform: rotateY(90deg) translateZ(100px);
        -ms-transform: rotateY(90deg) translateZ(100px);
        -o-transform: rotateY(90deg) translateZ(100px);
      }
      &:nth-child(3) {
        transform: rotateY(180deg) translateZ(100px);
        -webkit-transform: rotateY(180deg) translateZ(100px);
        -moz-transform: rotateY(180deg) translateZ(100px);
        -ms-transform: rotateY(180deg) translateZ(100px);
        -o-transform: rotateY(180deg) translateZ(100px);
      }
      &:nth-child(4) {
        transform: rotateY(-90deg) translateZ(100px);
        -webkit-transform: rotateY(-90deg) translateZ(100px);
        -moz-transform: rotateY(-90deg) translateZ(100px);
        -ms-transform: rotateY(-90deg) translateZ(100px);
        -o-transform: rotateY(-90deg) translateZ(100px);
      }
      &:nth-child(5) {
        transform: rotateX(90deg) translateZ(100px);
        -webkit-transform: rotateX(90deg) translateZ(100px);
        -moz-transform: rotateX(90deg) translateZ(100px);
        -ms-transform: rotateX(90deg) translateZ(100px);
        -o-transform: rotateX(90deg) translateZ(100px);
      }
      &:nth-child(6) {
        transform: rotateX(-90deg) translateZ(100px);
        -webkit-transform: rotateX(-90deg) translateZ(100px);
        -moz-transform: rotateX(-90deg) translateZ(100px);
        -ms-transform: rotateX(-90deg) translateZ(100px);
        -o-transform: rotateX(-90deg) translateZ(100px);
      }
    }
  }
}

.bio {
  grid-area: bio;
  font-size: 1rem;
}
.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}
.me-1 {
  grid-area: me1;
}
.me-2 {
  grid-area: me2;
}
.me-3 {
  grid-area: me3;
}
.title {
  grid-area: title;
  padding-top: unquote('-webkit-calc(15% - 50px)');
  padding-left: unquote('-moz-calc(15%-50px)');
}

/*==========================
PROJECT GRID
============================*/
.container__projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 8px;
  animation-delay: 1.4s;
}

figure {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transform: scale(1.18);
    transition: transform 0.5s;

    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;

    &:hover {
      -webkit-transform: scale(1.18);
      -moz-transform: scale(1.18);
      -ms-transform: scale(1.18);
      -o-transform: scale(1.18);

      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
  }
}

.project__item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
}

.project__item__text--3 {
  display: inline-block;
  position: relative;
  color: rgba(73, 73, 73, 0.5);
  font-family: $font-second;
  font-size: 7em;
}
.project__item__title {
  bottom: 0;
  position: absolute;
  padding: 20px;
}
.project__item__desc {
  padding: 20px;
}
.project__icons {
  margin-top: 1rem;
  margin-right: 1rem;
}
