.box__1 {
  &::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/citytech-logo_copy.png");
  }
}
.box__2 {
  &::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/NYC_DOE_Logo.png");
  }
}
.box__3 {
  &::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/self-thought.jpg");
  }
}
.box__4 {
  &::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/rockclimbing.jpg");
  }
}

.box {
  position: relative;
  overflow: hidden;
  // box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border: 0px solid rgba(0, 0, 0, 0.5);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:hover::before {
    left: -50%;
    transform: skewX(-5deg);
  }
  &__content {
    position: relative;
    margin: 5px;

    border: 0px solid $primary-text-color;

    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  // &:hover::before {
  //   left: -50%;
  //   transform: skewX(-5deg);
  // }
  // &__content {
  //   position: relative;
  //   margin: 5px;

  //   border: 0px solid $primary-text-color;

  //   // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  // }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $primary-text-color;
    animation: animate 4s linear forwards;
  }
}
.box span:nth-child(1) {
  transform: rotate(0deg);
}
// .box span:nth-child(2) {
//   transform: rotate(180deg);
// }
@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
  // 50.1% {
  //   transform: scaleX(1);
  //   transform-origin: right;
  // }
  // 100% {
  //   transform: scaleX(0);
  //   transform-origin: right;
  // }
}
