.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($dark-color, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    @include absCenter;

    width: 65%;

    background: white;
    box-shadow: 0 6px 20px 0 #00000030;
    border-radius: 5px;
    display: table;
    overflow: hidden;
  }
  &__left {
    width: 40%;
    display: table-cell;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__right {
    display: table-cell;
    width: 60%;
    vertical-align: top;
    padding: 3rem 5rem;
  }
  &__title {
    padding-top: 2px;
  }
  &__text {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 0.3px solid rgba($primary-color, 0.3);
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
