h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $primary-text-color;
  &.lg-heading {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 6rem;
    font-family: $font-Playfair;
    padding-bottom: 5rem;
    position: relative;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    &:after {
      background-color: #989079;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 63%;
      left: 5%;
      animation-delay: 4.5s;
      @include animation__grow-left;
    }
  }
  &.sm-heading {
    font-family: $font-Oswald;
    font-weight: 300;
    letter-spacing: 2px;
    padding-left: 10px;
    // display: inline;
    background: rgba(lighten($primary-color, 2), 0.9);

    // background: rgba(51, 51, 51, 0.7);
    // background: rgba(lighten($primary-color, 2), 1);
  }
}
h2 {
  color: $secondary-text-color;
}

a {
  color: inherit;
  position: relative;
  cursor: pointer;
  padding: 4px;
  // color: set-text-color($primary-color);
  color: #989079;
  text-decoration: none; //remove underline
  // opacity: 0;
  // animation: btn;
  // animation-duration: 2s;
  // animation-fill-mode: forwards;

  &:hover {
    color: $light-color;
    @include easeOut;
  }
}
p {
  font-family: $font-Lato;
  font-size: 1rem;
  //   font-weight: 400;
  color: $primary-text-color;

  letter-spacing: 0.1rem;
  // word-break: break-all;
  &.p-lg {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: $font-Lato;
  }
}

.text-secondary {
  color: $light-color;
}

h4 {
  color: $secondary-text-color;
  letter-spacing: 0.1rem;
  font-family: $font-Lato;
  font-weight: 400;
}
