.u-margin-bottom-6 {
  margin-bottom: 6rem;
}
.u-margin-bottom-2 {
  margin-bottom: 2rem;
}
.u-margin-bottom-2 {
  margin-bottom: 2rem;
}
.u-margin-top-6 {
  margin-bottom: 6rem;
}
.u-center-text {
  text-align: center;
}

.u-right-right {
  text-align: right;
}
.mt-xs {
  margin-top: 1rem;
}
.mb-xs {
  margin-bottom: 1rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-lg {
  margin-bottom: 6rem;
}

.mb-xl {
  margin-bottom: 8rem;
}
