@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin easeOut {
  transition: all 0.7s ease-out;
}

@mixin easeOut-fast {
  transition: all 0.5s ease-out;
}
@mixin animation__grow-left {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

/*=========================
  Media Query Mixins
  ===========================*/

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 799px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 800px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
